.css-78trlr-MuiButtonBase-root-MuiIconButton-root {
  border: 1px solid #ddd !important;
}

// Customize Radio
.MuiFormControlLabel-root {
  .css-vqmohf-MuiButtonBase-root-MuiRadio-root.Mui-checked {
    @apply text-primary;
  }
}

// Customize Switch
.css-julti5-MuiSwitch-root {
  .css-5ryogn-MuiButtonBase-root-MuiSwitch-switchBase.Mui-checked {
    @apply text-primary;
  }
  .css-5ryogn-MuiButtonBase-root-MuiSwitch-switchBase.Mui-checked
    + .MuiSwitch-track {
    @apply bg-primary;
  }
}

// Customize Menu
.css-c58f4n-MuiButtonBase-root-MuiButton-root {
  @apply p-1 min-w-0 text-graySoft h-10 w-10;
}

// Customize Tabs
.css-1ujnqem-MuiTabs-root {
  .css-11yukd5-MuiTabs-indicator {
    @apply bg-primary h-[3px] rounded-xl;
  }
  .css-1a4cg4j-MuiButtonBase-root-MuiTab-root {
    @apply text-text3 capitalize flex-1 hover:bg-graySoft transition-all font-body;
    &.Mui-selected {
      @apply text-primary pointer-events-none;
    }
  }
}

// Custom dropdown
.MuiFormControl-root {
  .css-1yk1gt9-MuiInputBase-root-MuiOutlinedInput-root-MuiSelect-root {
    border-radius: 12px;
  }
  .css-1poimk-MuiPaper-root-MuiMenu-paper-MuiPaper-root-MuiPopover-paper {
    border-radius: 8px;
  }
}

.css-6hp17o-MuiList-root-MuiMenu-list {
  max-height: 160px;
}

// Custom Dialog
.css-hz1bth-MuiDialog-container {
  .css-1t1j96h-MuiPaper-root-MuiDialog-paper {
    width: 400px;
    max-width: 450px;
  }
}
