@tailwind base;
@tailwind components;
@tailwind utilities;

@import "mui";

@layer base {
  body {
    @apply font-body text-text1 bg-lite;
  }
  input {
    @apply outline-none placeholder:text-text4 placeholder:dark:text-text2;
  }
}

@layer utilities {
  .scroll-custom {
    /* width */
    &::-webkit-scrollbar {
      width: 10px;
    }

    /* Track */
    &::-webkit-scrollbar-track {
      @apply bg-transparent;
    }

    /* Handle */
    &::-webkit-scrollbar-thumb {
      @apply bg-iconColor rounded-lg;
    }

    /* Handle on hover */
    &::-webkit-scrollbar-thumb:hover {
      background: #888;
    }
  }

  // Loading Spinner Btn
  .lds-ring {
    & div {
      box-sizing: border-box;
      display: block;
      position: absolute;
      width: 32px;
      height: 32px;
      border: 4px solid #fff;
      border-radius: 50%;
      animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
      border-color: #fff transparent transparent transparent;
      &:nth-child(1) {
        animation-delay: -0.45s;
      }
      &:nth-child(2) {
        animation-delay: -0.3s;
      }
      &:nth-child(3) {
        animation-delay: -0.15s;
      }
    }
    @keyframes lds-ring {
      0% {
        transform: rotate(0deg);
      }
      100% {
        transform: rotate(360deg);
      }
    }
  }

  .nav-active {
    @apply relative pointer-events-none;
    &::before {
      content: "";
      @apply absolute bottom-0 left-0 rounded-md w-full h-1 bg-gradient-to-r from-thirdColor to-secondary;
      animation: showNavActive linear 0.2s;
    }
    @keyframes showNavActive {
      from {
        opacity: 0.5;
        width: 0;
      }
      to {
        opacity: 1;
        width: 100%;
      }
    }
  }
}
